*{
	font-family:comic Sans Ms;
}
body{
	padding-top: 10px;
	margin:0px auto;
	background-image: url(images/bbg.jpg);

}
div.container {
	height:580px;
	padding: 7px 0px 7px 0px;

}
div.container div.lmenu {
	min-height:580px;
	background:url(images/about2.png) no-repeat;
	-webkit-transition:all 2100ms inline;
	-moz-transition:all 2100ms inline;
	border:2px solid #588c00;
	border-radius:0px 17px 17px 0px;
}


/************************************** Right Panel */
div.container div.rmenu {
	min-height:580px;
	padding-top:1px;
	-webkit-transition:all 2800ms inline;
	-moz-transition:all 2800ms inline;
	border:1px solid #588c00;
	border-radius:7px;
	
}
div.container div.lmenu div.r {
	width:48px;
	height:95px;
	-webkit-transition:all 2800ms inline;
	-moz-transition:all 2800ms inline;
	cursor: pointer;
	background-image:url(images/right.png);
	margin: 270px 0px 0px 185px;
	/*
	position: absolute;
	margin:0px auto;
	left:0px;
	right:532px;
	top:270px;
	bottom:0px;
	*/
}
div.container div.lmenu div.r:hover {
	background-image:url(images/right2.png);
}



/************************************** Slider */
div.container div.rmenu div.slider {
	min-height:580px;
	border:1px solid #588c00;
	border-radius:7px;
}

/************************************** MENU TOP */

div.container div.rmenu div.slider div.top_menu {
	margin-top:0px;
	min-height:85px;
	background:url(images/top_menu.png) no-repeat;
	-webkit-transition:all 2800ms inline;
	-moz-transition:all 2800ms inline;
	
}
div.container div.rmenu div.slider div.top_menu ul {
	list-style-type:none;
	text-align:center;
	color:white;
}
div.container div.rmenu div.slider div.top_menu li {
	cursor: pointer;
	float: left;
	text-align:center;
	padding: 10px 30px 10px 40px;
	margin-right:10px;
}
div.container div.rmenu div.slider div.top_menu li:hover {
	font-weight:bold;
	-webkit-transition:all 2800ms inline;
	-moz-transition:all 2800ms inline;
}
div.container div.rmenu div.slider div.top_menu li:first-child {
	margin-left:50px;
}

/************************************** MENU PICS Below */

div.container div.rmenu div.slider div.thumbs {
	background:url(images/under.png) no-repeat;
	margin-top:336px;
	height:120px;
	color:magenta;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
	overflow: hidden;
	border:1px solid #333;
	border-radius:7px;
}

div.container div.rmenu div.slider div.thumbs ul.home_pic {
	list-style-type:none;
	text-align:center;
	min-height:inherit;	
}
div.container div.rmenu div.slider div.thumbs li {
	cursor: pointer;
	float: left;
	padding: 20px 20px 10px 0px;
}
div.container div.rmenu div.slider div.thumbs li:first-child {
	margin-left:80px;
}
div.container div.rmenu div.slider div.thumbs li img {
border:2px solid #588c00;
border-radius:25px 0px 25px 0px ;
box-shadow: 10px 10px 5px black;
}



/************************************** Footer */

div.footer{
	margin: 10px 0px;
	min-height:60px;
	background:url(images/bg.jpg);
}
div.inside_footer{
	height:60px;
	
}
div.inside_footer div.desc{
	color:white;
	margin:15px auto;
	min-height:40px;
	text-align:center;
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=30);
}

/************************************** Back Image */
.backimg > div{
	border:1px solid #588c00;
	border-radius:7px;
	position: absolute;
	background-position:center top;
	background-repeat:no-repeat;
	top:20px;
	left:210px;
	right:0;
	bottom:0;
	z-index:-10;
	width:740px;
	height:580px;
	margin:0px auto;
}

.img1{
	background-image:url(images/1.jpg);
}

.img2{
	background-image:url(images/2.jpg);
}

.img3{
	background-image:url(images/3.jpg);
}

.img4{
	background-image: url(images/4.jpg);
}